@page
@model WebApplicationJobs.Pages.Works.IndexModel
@{
    <h2>Adicionar Profissão</h2>

    <form method="post">
        <label>Nome da Profissão:</label>
         <input type="text" asp-for="Work.Title" />

        <button type="submit">Adicionar</button>
    </form>
}
